*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: 	#7285A5  ;
}
.bodyItems{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* @media screen and (max-width: 480px) {
    #display{
        width: 50px;
    }
} */

#display{
border-radius: 0.5em ;
/* position: relative;
top: 20vh;
left: 40vw; */
/* min-width: 60vw; */
width: 35vw; ;
height: 15vh;
background-color: #041F43;
color: white;
margin-bottom: 1em;
}

#displayResult{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    font-size: 3em;
    text-align: right;
}

#inputItems{
border-radius: 0.5em;
width: 35vw;
height: 55vh;
/* object-fit: cover; */
display: flex;
flex-direction: column;
/* flex-wrap: wrap; */
justify-content: space-around;
background-color:#1D2951;

}

.button-row{
    /* border: 1px solid; */
    width: 100%;
    height: 100%;
display: flex;

justify-content: space-around;
/* flex-wrap: nowrap; */
/* margin: 0.1em; */

}

.button-row input{
    width: 11rem;
    height: 3.5rem;
    margin: 0.5em;
    border-radius: 0.5em;
    font-size: 1.3em;
    font-weight: 600;
    color: black;
    background-color:blanchedalmond;
    cursor: pointer;
}

